# Django (Fake Key)
DEBUG=True
DJANGO_SECRET_KEY=secret-key
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,,calendar-app

# PostgreSQL
POSTGRES_DB=calendar_db
POSTGRES_USER=calendar_user
POSTGRES_PASSWORD=calendar_password
POSTGRES_HOST=localhost # для запуска через docker-compose.local.yml
# POSTGRES_HOST=postgres # для запуска через docker-compose.container.yml
POSTGRES_PORT=5432

# Email
EMAIL_HOST=smtp.ethereal.email #TODO заменить на реальные настройки можно использовать https://ethereal.email для тестирования
EMAIL_PORT=587 #TODO заменить на реальные настройки
EMAIL_USE_TLS=True #TODO заменить на реальные настройки
EMAIL_USE_SSL=False #TODO заменить на реальные настройки
EMAIL_HOST_USER=katrine66@ethereal.email #TODO заменить на реальные настройки
EMAIL_HOST_PASSWORD=k3KRXDRJFEbY71fERF #TODO заменить на реальные настройки
