# Django (Fake Key)
DEBUG=True
DJANGO_SECRET_KEY=secret-key
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,calendar-app
# PostgreSQL
POSTGRES_DB=calendar
POSTGRES_USER=calendar
POSTGRES_PASSWORD=calendar
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DOCKER_ENV=True

# Email
EMAIL_HOST=smtp.ethereal.email #TODO заменить на реальные настройки можно использовать https://ethereal.email для тестирования
EMAIL_PORT=587 #TODO заменить на реальные настройки
EMAIL_USE_TLS=True #TODO заменить на реальные настройки
EMAIL_USE_SSL=False #TODO заменить на реальные настройки
EMAIL_HOST_USER=katrine66@ethereal.email #TODO заменить на реальные настройки
EMAIL_HOST_PASSWORD=k3KRXDRJFEbY71fERF #TODO заменить на реальные настройки
DEFAULT_FROM_EMAIL=no-reply@ylab.team #TODO заменить на реальные настройки

REDIS_HOST=redis

#telegram
BOT_TOKEN=token
